<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IConverter" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1011/Converter" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IConverter" contract="ServiceConverter.IConverter"
                name="WSDualHttpBinding_IConverter">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>