<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="MyMath" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1011/" binding="wsHttpBinding"
                bindingConfiguration="MyMath" contract="ServiceConverter.IConverter"
                name="MyMath">
                <identity>
                    <userPrincipalName value="DESKTOP-69MSRHH\ADMIN SSASHKOO" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>