<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <!--стврюємо новий об'єкт поведінки-->
        <behavior name="MexBehavior">
          <!--дозволяємо доступ до метаданих по протоколу Http-->
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!--My Service-->
      <!--додаємо нову поведінку в Description служби-->
      <service behaviorConfiguration="MexBehavior" 
               name = "WCF_MyServer1.Converter">
        <endpoint name="MyMath"
          address = "http://localhost:1011/"
          binding = "wsHttpBinding"
          contract = "WCF_MyServer1.IConverter"/>
        <endpoint 
          name="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1011/Converter"/>
          </baseAddresses>
          <timeouts closeTimeout="00:00:02"/>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>